<!DOCTYPE html>
<html>
<head>
    <title>Shared States</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Shared States</h1>
    <p>Specify shared states by entering nodes separated by commas:</p>
    <input id="sharedStatesInput" type="text">
    <button id="addSharedStates">Add Shared States</button>

    <ul id="sharedStatesList">
    <!-- Shared states will be added here -->
    </ul>

    <button id="processSharedStates">Process Shared States</button>

    <script src="/static/js/shared_states.js"></script>
</body>
</html>
