<!DOCTYPE html>
<html>

<head>
    <title>Node Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            text-align: center;
            min-width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>
    <table id="nodeTable"></table>
    <button id="processTable">Process Table</button>

    <script src="/static/js/table.js"></script>
</body>

</html>